/************************************************************************/
/* Custom style-sheet stuffs for the Subversion book in HTML form.      */
/************************************************************************/

BODY
{
    background: white;
    margin: 0.5in;
    font-family: arial,helvetica,sans-serif;
}

H1.title
{
    font-size: 250%;
    font-style: normal;
    font-weight: bold;
    color: black;
}

H2.subtitle
{
    font-size: 150%;
    font-style: italic;
    color: black;
}

H2.title
{
    font-size: 150%;
    font-style: normal;
    font-weight: bold;
    color: black;
}

H3.title
{
    font-size: 125%;
    font-style: normal;
    font-weight: bold;
    color: black;
}

H4.title
{
    font-size: 100%;
    font-style: normal;
    font-weight: bold;
    color: black;
}

.toc B
{
    font-size: 125%;
    font-style: normal;
    font-weight: bold;
    color: black;
}

P,LI,UL,OL,DD,DT,TD
{
    font-style: normal;
    font-weight: normal;
    color: black;
}

TT,PRE
{
    font-family: courier new,courier,fixed;
    font-style: normal;
    font-weight: normal;
    color: black;
}

A
{
    color: blue;
    text-decoration: underline;
}	

A:hover 
{
    background: rgb(75%,75%,100%);
    color: blue;
    text-decoration: underline;
}

A:visited 
{
    color: purple;
    text-decoration: underline;
}

IMG
{
    border: none;
    padding: 0.5in;
}

.author
{
    font-size: 100%;
    font-style: italic;
    font-weight: normal;
    color: black;
}

.sidebar 
{
    border: 1px solid;
    border-color: black;
    background: rgb(90%,90%,90%);
    padding: 0.12in;
    margin: 0 0.5in;
}

.tip
{
    border: black solid 1px;
    background: url(./images/info.png) no-repeat;
    margin: 0.12in 0;
    padding: 0 55px;
}

.warning
{
    border: black solid 1px;
    background: url(./images/warning.png) no-repeat;
    margin: 0.12in 0;
    padding: 0 55px;
}
