# top-most EditorConfig file
# See http://editorconfig.org/
root = true

[*]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = false

# Forces hard line wrapping after the amount of characters specified.
max_line_length = 79

# Adds guidelines to the editor. This option is unofficial, but it is
# supported by Visual Studio with EditorConfig Guidelines or Editor
# Guidelines extensions.
guidelines = 79 dashed

[*.{c,h,cpp,hpp}]
trim_trailing_whitespace = true
cpp_indent_within_parentheses = align_to_parenthesis
cpp_indent_preserve_within_parentheses = true
cpp_space_pointer_reference_alignment = right
cpp_wrap_preserve_blocks = all_one_line_scopes
cpp_new_line_before_open_brace_function = new_line
cpp_new_line_before_open_brace_block = new_line
cpp_space_preserve_in_initializer_list = true

[**/Makefile*]
indent_style = tab
indent_size = 8

[build-outputs.mk]
indent_style = tab

[build/generator/templates/build-outputs.mk.ezt]
indent_style = tab

