# top-most EditorConfig file
# See http://editorconfig.org/
root = true

[*]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = false

# Forces hard line wrapping after the amount of characters specified.
max_line_length = 79

# Adds guidelines to the editor. This option is unofficial, but it is
# supported by Visual Studio with EditorConfig Guidelines or Editor
# Guidelines extensions.
guidelines = 79 dashed

[**/Makefile*]
indent_style = tab
indent_size = 8

[build-outputs.mk]
indent_style = tab

[build/generator/templates/build-outputs.mk.ezt]
indent_style = tab

