[DEFAULT]
svnbin: /usr/bin/svn
streams: http://svn.apache.org:2069/commits/json

[env]
HOME: /home/danielsh
LANG: en_US.UTF-8

[track]
/tmp/whimsy: https://svn.apache.org/repos/infra/infrastructure/trunk/projects/whimsy
