# This is sample table for svn_load_dirs.pl -p command line option.
\.(ai|eps|ps)$		break	svn:mime-type	application/postscript
\.bz2$			break	svn:mime-type	application/x-bzip2
\.css$			break	svn:mime-type	text/css
\.doc$			break	svn:mime-type	application/msword
\.ds(p|w)$		break	svn:eol-style	CRLF
\.exe$			break	svn:mime-type	application/octet-stream
\.gif$			break	svn:mime-type	image/gif
\.gtar$			break	svn:mime-type	application/x-gtar
\.(gz|tgz)$		break	svn:mime-type	application/x-gzip
\.hqx$			break	svn:mime-type	application/mac-binhex40
\.html?$		break	svn:mime-type	text/html
\.ilk$			break	svn:eol-style	CRLF
\.(jpeg|jpg|jpe)$	break	svn:mime-type	image/jpeg
\.js$			break	svn:mime-type	application/x-javascript
\.(mov|qt)$		break	svn:mime-type	video/quicktime
\.ncb$			break	svn:eol-style	CRLF
\.opt$			break	svn:eol-style	CRLF
\.pdf$			break	svn:mime-type	application/pdf
\.png$			break	svn:mime-type	image/png
\.pp(s|t)$		break	svn:mime-type	application/vnd.ms-powerpoint
\.rtf$			break	svn:mime-type	application/rtf
\.swf$			break	svn:mime-type	application/x-shockwave-flash
\.tar$			break	svn:mime-type	application/x-tar
\.tiff?$		break	svn:mime-type	image/tiff
\.xls$			break	svn:mime-type	application/vnd.ms-excel
\.zip$			break	svn:mime-type	application/zip
dos2unix-eol\.sh$	break
#.*			break	svn:eol-style	native
