THIS IS A WORK IN PROGRESS

 Respecto a la comunidad de traductores
  Descripción del puesto de coordinador
   Papel de traductor
   Papel de coordinador
  Tiempos de reacción
  Elección/cambio de coordinador
  Situaciones excepcionales y delegación de responsabilidades

Desripción del puesto de coordinador
====================================

El coordinador del proyecto de traducción puede tomar dos papeles
(normalmente ambos): traductor y coordinador. En ambos casos debe
ceñirse a unas reglas que definen su responsabilidad, dado que se
trata de una posición pública dentro de una comunidad, y por lo
tanto está sujeta a la opinión global de ésta.


Papel de traductor
------------------

El papel de traductor no es obligatorio, un coordinador puede
dedicarse únicamente a coordinar el proyecto sin colaborar una
sóla línea de texto a la traducción final. No obstante, en caso de
colaborar como traductor, aparte de seguir las mismas reglas que
usan el resto de los traductores, debe ser un modelo de dedicación.
Por esto se entiende que realizará trabajo de traducción de forma
periódica y constante, de forma que anime a otros a colaborar.
Este trabajo contínuo e ininterrumpido tiene como objetivo principal
mostrar de cara al público que el proyecto no está "muerto"
y progresa, a la velocidad que sea.

En caso de faltar a las restricciones temporales aplicadas a otros
traductores, pierde el papel de coordinador y queda como coordinador
en funciones hasta que se realice un cambio de coordinador. La
ausencia de trabajo se puede aceptar si el coordinador notifica
con antelación de una situación excepcional indicada más abajo.

Como traductor se espera que conozca el lenguaje español a fondo para
ser capaz de decidir si la traducción debe seguir un estilo u otro.
Al fin y al cabo una traducción no puede ser literal, y se acaban
"reescribiendo" los conceptos con otras palabras. Como tal, puede
y debe influir en las traducciones de los demás para que el estilo
final de todas las colaboraciones encaje y se lea como único por
cualquier lector.


Papel de coordinador
--------------------

La función de coordinar es obligatoria para el puesto. Dentro de esta
función se distingue la comunicación y la acción de forma separada.
La comunicación es la tarea de contestar vía email a cualquier
petición, incidente, pregunta, etc, sea realizada de forma personal
o vía lista de correo. Por acción se considera hacer efectivas las
decisiones que sean consideradas necesarias para llevar a buen
puerto el proyecto. Para diferenciar comunicación de acción se
muestran dos ejemplos:

Dos traductores desean traducir un fichero determinado. Mediante
comunicación el coordinador sugiere que uno de los dos sea el
responsable. Los traductores, ya sea por el coordinador u otros
argumentos aclaran el conflicto y deciden que uno de los dos será
el responsable.

La acción llegaría en caso de que el conflicto aparentemente no
se pueda solucionar.  En este caso el coordinador toma la decisión
de que uno de los dos sea el responsable.  Esto es una acción que
deberá ser respetada por los traductores.

Tal y como se puede inferir de este ejemplo, el coordinador goza
de poder absoluto para resolver cualquier conflicto. Si bien por
medio de la comunicación, no debería ser necesario llegar a tomar
alguna acción de tal calibre.

Por otro lado hay otras acciones que no afectan a traductores
que sólo son responsabilidad del coordinador, como mantener los
meta ficheros del proyecto, actualizar la página web del libro,
enviar informes semanales de actividad a la lista de correo,
etc. Estas otras acciones son más "aburridas", y definitivamente
menos peligrosas para la salud, pero hay que hacerlas.


Tiempos de reacción
===================

Tanto para la comunicación como la acción, se deben mantener unos
límites de tiempo, fuera de los cuales el coordinador no cumple con
su función y por tanto debe ser cambiado. Dado que hablamos de una
comunidad basada en la comunicación por email, estos tiempos son
algo más elásticos que en trabajos donde los colaboradores se ven
cara a cara.

Tomando como referencia un mensaje en la lista de correo, se
considera como respuesta rápida si el coordinador responde en
menos de dos días. Si responde entre 2 y 5 días, la respuesta es
buena. Si responde entre 5 y 10 días, la respuesta es aceptable. Si
responde entre 10 y 20 días, la respuesta es mediocre. Más de 20 días
significa que el coordinador no está leyendo su correo electrónico
y por lo tanto no realiza su papel de coordinador.

No obstante, dada la volatilidad del email y la cantidad de SPAM con
la que cualquier usuario de Internet debe enfrentarse, se exige que
el mensaje de la lista de correo sea reenviado cada 5 días, para
asegurarse de que es visto. Estos reenvíos no alargan el periodo
de 20 días especificado, que debe cumplirse respecto al primer envío.


Elección/cambio de coordinador
==============================

Uh, aquí no se muy bien que decir, dado que el proyecto me lo asigné
yo mismo y nadie lo ha disputado hasta el momento, jeje. Bueno, creo
que debería indicar que en caso de fallor el coordinador con sus
obligaciones, los traductores involucrados en el proyecto deberían
decidir qué hacer, si mantener su posición como coordinador por
considerar la falta "leve" o no haber otra persona capaz de tomar
el puesto, o bien cambiar al coordinador por uno de los traductores
actuales.


Situaciones excepcionales y delegación de responsabilidades
===========================================================

Como situación excepcional se entiende cualquier razón por la
cual el coordinador no pueda cumplir su papel por un determinado
tiempo. Por ejemplo, vacaciones, hospitalización, carga excesiva
de trabajo en la vida real, etc.  El coordinador puede notificar
de estas situaciones a la lista de correo, indicando el tiempo
por el cual no podrá cumplir sus funciones. Al mismo tiempo debe
elegir a un traductor para que sea el coordinador en funciones,
si bien sólo en el papel de coordinador, no en el de traductor ideal.

Igualmente si estas situaciones no pueden ser anticipadas pero se
explican posteriormente, pueden servir como eximente para evitar la
destitución del coordinador, siempre y cuando los demás traductores
acepten esta "excusa".
